/* Altura do HTML */
html {
    height: 100%;
}

/* Formatação do body */
body {
    background-color: grey;
    height: 100%;
    margin: 0;
    font-family: 'Exo', sans-serif;
}

/* Criação Grelha para Jogo */
.grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    height: 100%;
}

/* Posição HUD jogador */
.left,
.right {
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* Tamanho HUD jogador */
.leftImage,
.rightImage {
    width: auto;
    height: 100px;
}

/* Centrar Nome do Jogador */
.rightP,
.leftP {
    margin: auto;
}

/* Posição e tamanho da forca */
.forca {
    padding-top: 60px;
    width: auto;
    height: 120px;
}

/* Centrar forca */
.forcaCentro {
    text-align: center;
}

/* Posicionamento da palavra escolhida pelo PC */
.pcWord {
    padding-top: 60px;
    text-align: center;
    font-size: 25px;
    align-content: center;
}

/* Posicionamento da categoria da palavra */
.category {
    text-align: center;
    align-content: center;
}

/* Posicionamento do texto no centro da div */
.center {
    text-align: center;
    width: 80%;
}

/* Botões do teclado */
.bLetters {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #b27214;
    border-radius: 7.5px;
    border: 3px solid #f7b239;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 15px 20px black;
    font-family: 'Exo', sans-serif;
    color: white;
}

/* Botões do teclado ao fazer hover */
.bLetters:hover {
    background: white;
    color: #b27214;
    font-size: 12.5px;
    width: 49px;
    height: 49px;
    margin-left: 10.5px;
    margin-right: 10.5px;
    transition: 0.5s ease-in-out;
}

/* Botões do teclado quando já escolhidas */
.bLetters:disabled {
    background: red;
    color: #fff;
    font-size: 12.5px;
    width: 45px;
    height: 45px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    transition: 0.5s ease-in-out;
}

/* Menu escolher jogadores */
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Nomes dos jogadores no menu */
#modalNames {
    display: block;
}

/* Pop-Up game over */
#modalGameOver {
    display: none;
}

/* Pop-Up win */
#modalWin {
    display: none;
}

/* Texto menu escolha dos jogadores */
#modalGameOver>.modal-content>.gameOver {
    font-size: xxx-large;
}

/* Texto menu escolha dos jogadores */
#modalWin>.modal-content>.win {
    font-size: xxx-large;
}

/* Menu escolher jogadores */
.modal-content {
    background-color: #b27214;
    margin: auto;
    padding: 20px;
    border: 5px solid #fff;
    width: 50%;
    border-radius: 20px;
    height: auto;
    align-content: center;
    text-align: center;
    color: #fff;
}

/* Nomes dos jogadores */
.namePlayers {
    padding: 10px;
}

/* Nomes dos jogadores */
.inputNames {
    border-radius: 7.5px;
    margin-left: 20px;
    padding: 10px;
    font-family: 'Exo', sans-serif;
    background-color: #b27214;
    border: 5px solid #f7b239;
    color: #fff;
}

/* Nomes dos jogadores */
.inputNames:focus {
    outline: 0;
}

/* Botão escolher jogadores / começar jogo */
.btnInputNames {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #b27214;
    border-radius: 7.5px;
    border: 3px solid #f7b239;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 15px 20px black;
    font-family: 'Exo', sans-serif;
    color: white;
}

/* Hover no botão */
.btnInputNames:hover {
    background: white;
    color: #b27214;
    transition: 0.5s ease-in-out;
}

/* Cor do indicador dos turnos */
.currentTurn {
    border: solid green 5px;
    border-radius: 5px;
}