body {
    margin: 0;
    padding: 10px;
    background: gray;
    font-family: 'Exo', sans-serif;
}

.content {
    width: 65%;
    background: gray;
    align-content: center;
    margin-left: 17.5%;
    padding: 20px 0;
}

.logo {
    width: 20%;
    margin-left: 40%;
    margin-bottom: 10px;
}

/* Grelha para ranking */
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Width das posições dos jogadores no ranking */
.headerSizeFirst {
    width: 10%;
}

/* Centrar headers da tabela */
.headerSize {
    width: 45%;
    color: lightgreen;
}

/* Posicionamento dos elementos */
.headerSizeFirst,
.rankingNames,
.rankingScores {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* tabela */
table {
    border-collapse: collapse;
    border-style: hidden;
}

table td,
th {
    border: 1px solid black;
}

.sameScore {
    border-bottom: 1px solid transparent;
}

.orderRanking {
    text-align: center;
}

.btnBack {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #b27214;
    border-radius: 7.5px;
    border: 3px solid #f7b239;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 15px 20px black;
    font-family: 'Exo', sans-serif;
    color: white;
    z-index: 2;
    position: fixed;
}

button{
    outline: none;
}