body {
    margin: 0;
    padding: 10px;
    background: gray;
    font-family: 'Exo', sans-serif;
}

.content {
    width: 65%;
    background: gray;
    align-content: center;
    margin-left: 17.5%;
    padding: 20px 0;
}

.logo {
    width: 20%;
    margin-left: 40%;
    margin-bottom: 10px;
}

/* Grelha para ranking */
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.headerSizeFirst {
    width: 10%;
}

/* Centrar headers da tabela */
.headerSize {
    width: 45%;
    color: lightgreen;
}

.headerSizeFirst,
.rankingNames,
.rankingScores {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table td,
th {
    border: 1px solid black;
}