/* Formatação do body */
body {
    margin: 0;
    padding: 10px;
    background: gray;
    font-family: 'Exo', sans-serif;
}

/* Formatação geral CSS igual ao home */
.homeContent {
    width: 65%;
    background: gray;
    align-content: center;
    margin-left: 17.5%;
    padding: 20px 0;
}

/* Formatação do logo */
.logo {
    width: 20%;
    margin-left: 40%;
    margin-bottom: 10px;
    padding-bottom: 50px;
}

/* Alinhamento central do texto dentro dos collapsibles */
.textRegras {
    text-align: center;
}

/* Alinhamento central dos botões */
.alignButtons {
    padding-top: 35px;
}

/* Default HIDDEN dos collapsibles e estilização dos mesmo */
.content {
    padding: 20px 0;
    background: gray;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-left: 17.5%;
    width: 65%;
    align-content: center;
}

/* Destacar algumas palavras */
.green {
    color: lightgreen;
}

/* Botão voltar para trás */
.btnBack {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #b27214;
    border-radius: 7.5px;
    border: 3px solid #f7b239;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 15px 20px black;
    font-family: 'Exo', sans-serif;
    color: white;
    z-index: 2;
    position: fixed;
}

.btnBack:hover {
    background: white;
    color: #b27214;
    transition: 0.5s ease-in-out;
}

/* Botão */
button {
    outline: none;
}